<div class="scrollable">  
    <div class="scrollable-content">

        <div class="list-group text-center">
            
          <div class="list-group-item" ng-click="go('/companies')">
              <div class="icon"><i class="fa fa-building feature-icon text-primary"></i></div>
              <div>
                  <h3>Companies</h3>
                  <p>Display and edit the list of aerial companies</p>
              </div>
          </div>
            
          <div class="list-group-item" ng-click="go('/flights')">
              <div class="icon"><i class="fa fa-plane feature-icon text-primary"></i></div>
              <div>
                  <h3>Flights</h3>
                  <p>Display and edit the list of flights</p>
              </div>
          </div>
            
          <div class="list-group-item" ng-click="go('/officers')">
              <div class="icon"><i class="fa fa-user-md feature-icon text-primary"></i></div>
              <div>
                  <h3>Officers</h3>
                  <p>Display and edit the list of officers</p>
              </div>
          </div>
            
          <div class="list-group-item" ng-click="go('/places')">
              <div class="icon"><i class="fa fa-map-marker feature-icon text-primary"></i></div>
              <div>
                  <h3>Places</h3>
                  <p>Display and edit the list of places</p>
              </div>
          </div>
            
          <div class="list-group-item" ng-click="go('/technicians')">
              <div class="icon"><i class="fa fa-user feature-icon text-primary"></i></div>
              <div>
                  <h3>Technicians</h3>
                  <p>Manage the technician's accounts</p>
              </div>
          </div>

          <div class="list-group-item" ng-click="go('/maintenace')">
              <div class="icon"><i class="fa fa-user feature-icon text-primary"></i></div>
              <div>
                  <h3>Maintenance</h3>
                  <p>Manage the maintenance's accounts</p>
              </div>
          </div>


        </div>

    </div>
</div>